<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <h1>Welcome, {{ name }}!</h1>
        <div>
            <p>Change password? <a href="{{ url_for('modify_pwd') }}">Modify here</a>.</p>
            <p>Logout <a href="{{ url_for('logout') }}">Logout</a>.</p>
            <p>Delete Account? <a href="{{ url_for('delete_account') }}">Delete Account</a>.</p>
            <p>Upload a file: <a href="{{ url_for('upload_file') }}">Upload File</a></p>
        </div>
        <h2>Your Files:</h2>
        <ul>
            {% for file in files %}
            <li>
                {{ file.filename }}
                <a href="{{ url_for('download_file', filename=file.filename) }}">Download</a>
                <form action="{{ url_for('encrypt_file', filename=file.filename) }}" method="post">
                    <select name="encryption_method" required>
                        <option value="">Select Method</option>
                        <option value="AES-192">AES-192</option>
                        <option value="Blowfish">Blowfish</option>
                    </select>
                    <button type="submit">Encrypt</button>
                </form>
                <a href="{{ url_for('decrypt_file', filename=file.filename) }}">Decrypt</a>
                <a href="{{ url_for('hash_file', filename=file.filename) }}">Hash</a>
                <a href="{{ url_for('download_hash', filename=file.filename) }}">Download Hash</a>
                <a href="{{ url_for('delete_file', filename=file.filename) }}">Delete file</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>