<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <h1>Welcome, {{ name }}!</h1>
        <div>
            <button onclick="location.href='{{ url_for('modify_pwd') }}'" class="link-button">Change Password</button> 
            <button onclick="location.href='{{ url_for('logout') }}'" class="link-button">Logout</button> 
            <button onclick="if (confirm('Are you sure you want to delete your account?')) location.href='{{ url_for('delete_account') }}'" class="link-button">Delete Account</button> 
            <button onclick="location.href='{{ url_for('upload_file') }}'" class="link-button">Upload File</button> 
            <button onclick="location.href='{{ url_for('generate_key') }}'" class="link-button">Generate New Key</button> 
        </div>
        
        <h2>Your Files:</h2>
        <ul>
            {% for file in files %}
            <li>
                {{ file.filename }}
                <a href="{{ url_for('download_file', filename=file.filename) }}">Download</a>
                <form action="{{ url_for('encrypt_file', filename=file.filename) }}" method="post">
                    <select name="encryption_method" required>
                        <option value="">Select Method</option>
                        <option value="AES-192">AES-192</option>
                        <option value="Blowfish">Blowfish</option>
                    </select>
                    <button type="submit">Encrypt</button>
                </form>
                <a href="{{ url_for('decrypt_file', filename=file.filename) }}">Decrypt</a>
                <a href="{{ url_for('hash_file', filename=file.filename) }}">Hash</a>
                <a href="{{ url_for('download_hash', filename=file.filename) }}">Download Hash</a>
                <a href="{{ url_for('delete_file', filename=file.filename) }}">Delete file</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>